<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airline Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav th:replace="header :: headerFragment"></nav>



<div class="container">
    <div class="row form-row">
        <div class="card">
            <div class="card-body">
                <a href="/airport-admin">Airport</a>
            </div>
        </div>
    </div>
    <div class="row form-row">
        <div class="card">
            <div class="card-body">
                <a href="/flight-admin">Flight</a>
            </div>
        </div>
    </div>
    <div class="row form-row">
        <div class="card">
            <div class="card-body">
                <a href="/location-admin">Location</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row form-row">
        <div class="card">
            <div class="card-body">
                <a href="/schedule-admin">Schedule</a>
            </div>
        </div>
    </div>
</div>




</body>
</html>