<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airline Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav th:replace="header :: headerFragment"></nav>


<div class="container">
    <div class="row form-row">
        <div class="card">
            <div class="card-body">
                <form method="post" action="/addairport">
                    <div class="form-group">
                        <select name="locationId">
                            <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="code" placeholder="Airport Code...">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Airport Name...">
                    </div>

                    <input class="btn btn-outline-dark" type="submit" value="Add Airport">

                </form>


                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Airport Code</th>
                        <th scope="col">Airport Name</th>
                        <th scope="col" colspan="3">Airport Location_ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="airport : ${airports}">
                        <td><span th:text="${airport.code}" ></span></td>
                        <td><span th:text="${airport.name}" ></span></td>
                        <td><span th:text="${airport.locationId}" ></span></td>
                        <td>
                            <form method="post" action="/delete-airport">
                                <input type="hidden" name="id" th:value="${airport.id}">
                                <input type="submit" class="btn btn-outline-dark" value="Delete" >
                            </form>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary airportModalButton" data-toggle="modal"  data-target="#exampleModal" th:attr="data-object-id=${airport.id}, data-object-code=${airport.code}, data-object-name=${airport.name}, data-object-locations=${locations}, data-object-locationid=${airport.locationId}">Edit</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="/admin/manage/edit/airport">
                                                <input type="hidden" id="airportid" name="id">
                                                <div class="form-group">
                                                    <label for="name" class="control-label">Airport Name: </label>
                                                    <input type="text" class="form-control" id="name" name="name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="code" class="control-label">Airport Code: </label>
                                                    <input type="text" class="form-control" id="code" name="code" maxlength="3" minlength="3">
                                                </div>
                                                <div class="form-group">
                                                    <label for="locationid" class="control-label">Location ID: </label>
                                                    <select name="locationId" id="locationid">
                                                        <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
                                                    </select>
                                                </div>

                                                <input type="submit" class="btn btn-primary" value="Submit">
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





</body>
</html>
