<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airline Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav th:replace="header :: headerFragment"></nav>


<div class="container">
    <div class="row form-row">
        <div class="card">
            <div class="card-body">
                <form method="post" action="/addflight">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Flight Name...">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="capacity" placeholder="Flight Capacity...">
                    </div>

                    <input class="btn btn-outline-dark" type="submit" value="Add Flight">

                </form>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Flight Name</th>
                        <th scope="col">Flight Capacity</th>
                        <th scope="col" colspan="3">Airport Location_ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="flight : ${flights}" >
                        <td><span th:text="${flight.name}" /></td>
                        <td><span th:text="${flight.capacity}" /></td>
                        <td>
                            <form method="post" action="/delete-flight">
                                <input type="hidden" name="id" th:value="${flight.id}">
                                <input type="submit" class="btn btn-outline-dark" value="Delete" >
                            </form>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary flightModalButton" data-toggle="modal"  data-target="#exampleModal" th:attr="data-object-id=${flight.id}, data-object-name=${flight.name}, data-object-capacity=${flight.capacity}">Edit</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="/admin/manage/edit/flight">
                                                    <input type="hidden" id="flightid" name="id">
                                                <div class="form-group">
                                                    <label for="name" class="control-label">Flight Name: </label>
                                                    <input type="text" class="form-control" id="name" name="name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="capacity" class="control-label">Capacity: </label>
                                                    <input type="number" class="form-control" id="capacity" name="capacity">
                                                </div>

                                                <input type="submit" class="btn btn-primary" value="Submit">
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>

