<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airline Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-light bg-secondary">
    <a class="navbar-brand text-white-50" href="/">
        Airline Service
    </a>
</nav>




<div class="container">
    <div class="w-100 mt-2 bg-secondary">
        <h3 class="ml-1" th:if="${!search.returnFlight}" th:text="${search.searchFromInput} + ' - ' + ${search.searchToInput}"></h3>
        <h3 class="ml-1" th:if="${search.returnFlight}" th:text="${search.searchFromInput} +' - '+ ${search.searchToInput} +' - '+ ${search.searchFromInput}"></h3>

        <div class="row w-75 mx-auto">
            <p th:if="${search.numberOfPeople < 2}" th:text="${search.numberOfPeople} + ' person | '"></p>
            <p th:if="${search.numberOfPeople >= 2}" th:text="${search.numberOfPeople} + ' people | '"></p>
            <p th:text="' ' + ${search.flightTime}"></p>
        </div>
    </div>

    <div class="row form-row" th:if="${bookingError != null && !bookingError.isEmpty()}">
        <span id="error-message" th:text="${bookingError}"></span>
    </div>
    <div class="row form-row" th:if="${!search.returnFlight}">
        <span th:if="${schedules.isEmpty()}" id="empty-schedule">
            No available flight found for search criteria. Click <a href="/">here</a> to search again
        </span>
    </div>

    <div class="row form-row" th:if="${search.returnFlight}">
        <span th:if="${toschedules.isEmpty()} OR ${returnschedules.isEmpty()}">
            No available flight found for search criteria. Click <a href="/">here</a> to search again
        </span>
    </div>

    <div class="row form-row"  th:if="${!search.returnFlight}">
        <div class="card flight-card border-dark" th:each="schedule : ${schedules}">
            <a th:if="${!search.returnFlight}" th:href="@{/booking/{id}(id=${schedule.getId()})}" class="card-body">

                Departure time: <span th:text="${schedule.deptTime.hour} + ':' + ${schedule.deptTime.minute}" />
                Arrival time: <span th:text="${schedule.arrivalTime.hour} + ':' + ${schedule.arrivalTime.minute}" />

                <p th:each="airport : ${airports}" th:if="${schedule.toAirportCode == airport.code}" th:text="${airport.name} + ' (' + ${airport.code} + ')'"></p>
                <p th:each="airport : ${airports}" th:if="${schedule.fromAirportCode == airport.code}" th:text="${airport.name} + ' (' + ${airport.code} + ')'"></p>

            </a>



        </div>
    </div>

    <div th:if="${search.returnFlight}" th:each="toschedule : ${toschedules}">
        <a th:each="returnschedule : ${returnschedules}" th:href="@{/booking/{toid}/{returnid} (toid=${toschedule.getId()}, returnid=${returnschedule.getId()})}" class="card flight-card border-dark">
            <div class="card-body">
                <div>
                    <span th:text="${toschedule.getFromAirportCode()}" />
                    <span th:text="${toschedule.getToAirportCode()}" />
                    <span th:text="${toschedule.getDeptTime()}" />
                    <span th:text="${toschedule.getArrivalTime()}" />
                    <span th:text="${toschedule.getRemCapacity()}" />
                </div>
                <div>
                    <span th:text="${returnschedule.getFromAirportCode()}" />
                    <span th:text="${returnschedule.getToAirportCode()}" />
                    <span th:text="${returnschedule.getDeptTime()}" />
                    <span th:text="${returnschedule.getArrivalTime()}" />
                    <span th:text="${returnschedule.getRemCapacity()}" />
                </div>
            </div>
        </a>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>