<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airline Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <nav class="navbar navbar-light bg-secondary">
        <a class="navbar-brand text-white-50" href="/">
            Airline Service
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/booking/search">Manage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="row form-row">
            <div class="card">
                <div class="card-body">


                    <form id="searchflights" method="get" action="/search">

                        <div class="form-group radio-group">

                            One-way<input id="onewayradio" type="radio" name="returnFlight" checked value=false>

                            Return<input id="returnradio" type="radio" name="returnFlight" value=true>
                        </div>

                        <div class="form-group">
                            <label for="fromLocation">From</label>
                            <input autocomplete="off" type="text" class="form-control" id="fromLocation" name="searchToInput" placeholder="From..." list="locationlist">
                                <input id="formFromInput" type="hidden" name="fromAirport">
                                <datalist id="locationlist">
                                    <option class="airportoption" th:each="airport : ${airports}" th:attr="data-value=${airport.code}" th:value="${airport.name}">
                                    <option class="locationoption" th:each="location : ${locations}" th:attr="data-value=${location.id}" th:value="${location.name} + ' (All airports)'">
                                </datalist>
                        </div>
                            <div class="form-group">
                            <label for="toLocation">To</label>
                            <input autocomplete="off" type="text" class="form-control" id="toLocation"  name="searchFromInput" placeholder="To..." list="locationlist2">
                                <input id="formToInput" type="hidden" name="toAirport">
                                <datalist id="locationlist2">
                                    <option class="airportoption" th:each="airport : ${airports}" th:attr="data-value=${airport.code}" th:value="${airport.name}">
                                    <option class="locationoption" th:each="location : ${locations}" th:attr="data-value=${location.id}" th:value="${location.name} + ' (All airports)'">
                                </datalist>
                        </div>
                        <div class="form-group" id="toFlightTimeDiv">
                            <label class="datepicker" for="flightTime">Pick a start date</label>
                            <input type="date" id="flightTime" name="flightTime" th:min="${currentTime}" max="">
                        </div>
                        <div class="form-group" id="returnFlightTimeDiv">

                        </div>


                        <div class="form-group">
                            <label for="numberOfPeople">How many passengers are you booking for?</label>
                            <input type="number" min="1" max="8" class="form-control" id="numberOfPeople"  name="numberOfPeople" value="1">
                        </div>


                        <input id="search-submit" class="btn btn-outline-dark" type="submit" value="Submit">

                    </form>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>