<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airline Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav th:replace="header :: headerFragment"></nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="location : ${locations}" >
        <td><span th:text="${(location.name)}" /></td>

    </tr>
    </tbody>
</table>

</body>
</html>