<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airline Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav th:replace="header :: headerFragment"></nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Schedule ID</th>
        <th scope="col">Name</th>
        <th scope="col">Booking Code</th>
        <th scope="col">Status</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}" >
        <td><span th:text="${reservation.getScheduleId()}" /></td>
        <td><span th:text="${reservation.name}" /></td>
        <td><span th:text="${reservation.bookingCode}" /></td>
        <td><span th:text="${reservation.status}" /></td>
    </tr>
    <tr>
        <td colspan="3"><a th:if="${page} > 0" th:href="@{/viewReservations(p=${page}-1)}">Previous</a> </td>
        <td><a th:if="${page} < ${totalPages} - 1" th:href="@{/viewReservations(p=${page}+1)}">Next</a> </td>
    </tr>
    </tbody>
</table>

</body>
</html>