<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airline Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav th:replace="header :: headerFragment"></nav>

    <div class="container">
        <div class="row form-row">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/addlocation">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Location Name...">
                        </div>


                        <input class="btn btn-outline-dark" type="submit" value="Add Location">

                    </form>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Airport Code</th>
                            <th scope="col">Airport Name</th>
                            <th scope="col" colspan="3">Airport Location_ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="location : ${locations}">
                            <td><span th:text="${location.name}" ></span></td>
                            <td>
                                <form method="post" action="/delete-location">
                                    <input type="hidden" name="id" th:value="${location.id}">
                                    <input type="submit" class="btn btn-outline-dark" value="Delete" >
                                </form>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary locationModalButton" data-toggle="modal"  data-target="#exampleModal" th:attr="data-object-id=${location.id}, data-object-name=${location.name}">Edit</button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="exampleModalLabel"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" action="/admin/manage/edit/location">
                                                    <input type="hidden" id="locationid" name="id">
                                                    <div class="form-group">
                                                        <label for="name" class="control-label">Location Name: </label>
                                                        <input type="text" class="form-control" id="name" name="name">
                                                    </div>

                                                    <input type="submit" class="btn btn-primary" value="Submit">
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>








</body>
</html>