<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card flight-card border-dark">
    <span th:text="${schedule.getFromAirportCode()}" />
    <span th:text="${schedule.getToAirportCode()}" />
    <span th:text="${schedule.getDeptTime()}" />
    <span th:text="${schedule.getArrivalTime()}" />
    <span th:text="${schedule.getRemCapacity()}" />
    <span th:text="${booking.bookingCode}"/>
</div>

    <form method="post" action="/booking/cancel">
        <input type="hidden" name="bookingCode" th:value="${booking.bookingCode}">
        <input class="btn btn-outline-dark" type="submit" value="Cancel Reservation">
    </form>
</body>
</html>